.about-page-container {
  width: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
}

.about-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #e9e5d6; /* Một màu nền nhẹ nhàng hơn */
  height: 150px;
}

.about-header h1 {
  font-size: 3.5rem;
  height: auto;
  margin-left: 100px;
}

.about-subtitle {
  font-size: 1.2rem;
  color: #5c6181;
  max-width: 600px;
  margin: 0 auto;
}

.about-content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  margin-top: -50px;
}

