.HomePage main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.HomePage main .banner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
    gap: 40px;
}

.HomePage main .banner .banner-title {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.HomePage main .about-card {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 20px;
}