.ContactPage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 60px 20px;
  background-color: #f4f4f4;
  flex: 1;
}

.contact-container {
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  max-width: 1100px;
  width: 100%;
}

.contact-container h1 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 15px;
  color: var(--text-color);
  font-weight: 700;
}

.intro-text {
  text-align: center;
  font-size: 1.1rem;
  color: #666;
  max-width: 800px;
  margin: 0 auto 40px auto;
  line-height: 1.6;
}

.contact-content {
  display: flex;
  gap: 50px;
}

.contact-info,
.contact-map {
  flex: 1;
}

.contact-info h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 10px;
}

.contact-info p {
  display: flex;
  align-items: flex-start;
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.5;
}

.contact-info p i {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-right: 15px;
  margin-top: 4px;
  width: 20px;
  text-align: center;
}

.contact-table {
  height: 100%;
  padding-bottom: 100px;
  vertical-align: top;
}


.contact-info .contact-table tr {
  vertical-align: top;
  max-height: 50px;
}

.contact-info .contact-table tr td {
  max-height: 50px;
}

.contact-info .contact-table tr .r1 {
  display: flex;
  align-items: center;
  width: 100px;
}

.contact-map iframe {
  width: 100%;
  height: 100%;
  min-height: 350px;
  border: none;
  border-radius: 8px;
}

@media (max-width: 860px) {
  .contact-content {
    flex-direction: column;
  }
}
