.about-card {
  display: flex;
  gap: 50px;
  align-items: center;
  background: #fff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.07);
  transition: box-shadow 0.4s ease;
}

.about-card:hover {
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.32);
}

.about-card.reverse {
  flex-direction: row-reverse;
}

.about-card-image {
  flex: 1;
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-card.reverse .about-card-image {
  justify-content: center;
}

.about-card-image img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease;
}

.about-card-image img:hover {
  filter: sepia(0.6) contrast(1.1) brightness(1.05);
  transform: scale(1.03);
}

.about-card-text {
  flex: 1.2;
}

/* .about-card-text .about-subtitle {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 25px;
  color: #5c6181;
} */

.about-card-text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: var(--color-primary);
}

.about-card-text p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 25px;
  color: #5c6181;
}

.read-more-link {
  font-weight: 700;

  color: var(--color-secondary);
  text-decoration: underline;
  transition: color 0.3s ease;
}

.read-more-link:hover {
  border-radius: 4px;
  padding: 5px;
  color: #ffcdc0;
  text-decoration: none;
}

@media (max-width: 768px) {
  .about-card,
  .about-card.reverse {
    flex-direction: column;
    gap: 30px;
    padding: 30px;
  }
}

@media (max-width: 480px) {
  .about-card,
  .about-card.reverse {
    gap: 20px;
    padding: 20px;
  }

  .about-card-text h2 {
    font-size: 2rem;
  }

  .about-card-text p {
    font-size: 1rem;
  }
}
