.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(
    100vh - 180px
  ); /* Adjust based on your header/footer height */
  text-align: center;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
  overflow: hidden;
  position: relative;
  padding: 40px 20px;
}

.not-found-content {
  position: relative;
  z-index: 1;
  max-width: 600px;
}

.error-code {
  font-size: 12rem;
  margin: 0;
  font-weight: 700;
  color: var(--color-primary);
  text-shadow: 4px 4px 0px #e9e5d6, 8px 8px 0px #d4cfc0;
  line-height: 1;
}


.error-message {
  font-size: 2.5rem;
  color: var(--color-text);
  margin: 20px 0 10px;
  font-weight: 700;
}


.error-description {
  font-size: 1.2rem;
  color: #5c6181;
  margin-bottom: 30px;
  line-height: 1.6;
}

.home-link {
  display: inline-block;
  padding: 15px 35px;
  background-color: var(--color-secondary);
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

.home-link:hover {
  background-color: #f28c72;
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}
