:root {
  --sidebar-w: 320px;
  --dur: 0.3s;
}

.page {
  position: absolute;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #d4cfc0;
}

/* Nút mở */
.open-btn {
  position: absolute;
  left: -60px;
  background-color: var(--color-primary);
  font-size: 25px;
  width: 80px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  color: #fff;
  height: 40px;
  border-radius: 0 20px 20px 0;
  transition: 0.5s;
  outline: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.open-btn:hover {
  position: absolute;
  left: 0;
}

@media (hover: none) and (pointer: coarse) {
  .open-btn {
    position: absolute;
    left: 0;
  }
}

/* .open-btn button {
  
} */

/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.32);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--dur);
  z-index: 1000;
}

/* Sidebar */
.sidebar {
  position: fixed;
  inset: 0 auto 0 0; /* trái */
  width: var(--sidebar-w);
  background: var(--color-background);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: transform var(--dur);
  display: flex;
  flex-direction: column;
  z-index: 10000000;
}

.sidebar header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #d4cfc0;
}

.sidebar .header h2 {
  margin: 0;
  font-family: var(--font-heading);
  font-size: 1.8rem;
  color: var(--color-text);
}

.sidebar .close-btn {
  border: 0;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}
.sidebar nav a {
  display: block;
  padding: 15px 20px;
  color: var(--color-text);
  text-decoration: none;
  font-size: 1.1rem;
  transition: background-color 0.2s ease, padding-left 0.2s ease;
  border-bottom: 1px solid #e6e2d3;
}
.sidebar nav a:hover {
  background: #e9e5d6;
  padding-left: 25px;
  color: var(--color-secondary);
}

/* Trạng thái mở */
.is-open .overlay {
  opacity: 1;
  pointer-events: auto;
}
.is-open .sidebar {
  transform: translateX(0);
}
.no-scroll {
  overflow: hidden;
} /* chặn body scroll khi mở */
