@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@700&display=swap');

/* RESET CSS */

:root {
  --text-color: #222222;
  --bg-color: #eee;
  --primary-color: #044c60;
  --font-heading: 'Playfair Display', serif;
  --font-body: 'Lato', sans-serif;
  --color-text: #3d405b;
  --color-background: #f8f6eb;
  --color-primary: #81b29a;
  --color-secondary: #e07a5f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}