@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@700&display=swap');

/* RESET CSS */

:root {
  --text-color: #222222;
  --bg-color: #eee;
  --primary-color: #044c60;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  height: auto;
  max-height: 1000000px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1; /* nội dung chiếm hết phần còn lại */
  overflow-y: hidden;
}

html,
body {
  /* height: 100%; */
  margin: 0;
}

a {
  color: unset;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

/* VARIABLES */

:root {
  --font-heading: 'Playfair Display', serif;
  --font-body: 'Lato', sans-serif;
  --color-text: #3d405b;
  --color-background: #f8f6eb;
  --color-primary: #81b29a;
  --color-secondary: #e07a5f;
}
